/* body{
  padding: 0px;
  margin: 0px;
}
.container-fluid
{
  min-height: 100%;
  min-width:100%;
}
link:hover{
  background-color: aqua;
}
link:active{
  background:gold;
} */

.side:hover{
  background-color: aqua;
  color: aqua;
}
