{% extends 'enroll/basice.html' %}
{% load static %}
{% block content %}
<div style="display:flex;" class="text-center mt-3">
    <h1 style="margin-left:30px;">RITIK LOAN SERVICE</h1>
    <img src="{% static 'enroll/img/ritikphoto.jpg' %}"  style="width:100px; height:100px; margin-left:50%;"alt="ritik">
</div class="text-center">
<hr>
<h1 style="background-color:pink;" class="mt-3 text-center">Login_here</h1>

<div class=" text-center">
    <div class=" my-5 bg-success text-center" style="border:2px solid black; width:400px; margin-left:400px;box-shadow: rgb(42, 99, 67);">
        <h4 style="margin-top:20px; margin-left:70px; width:250px; height:30px; border-radius:20px ;" class="bg-secondary">LOGIN HERE</h4>
        <form action="" method="post" class="my-5">
            {% csrf_token %}
            {% for form in fm %}
            {{form.label}}
            {{form}}
            {% comment %} <input type="text" style="width:250px; height:30px; border-radius:20px ;" value="{{form}}" class="text-center" placeholder="Username"> {% endcomment %}
            <br><br>
            {% comment %} <input type="password" style="width:250px; height:30px; border-radius:20px ;" class="text-center"placeholder="password"> {% endcomment %}
            {% endfor %}
            <br><br>
            <input type="submit" class="bg-primary">
            {% comment %} <button type="submit" style="width:250px; height:30px; border-radius:20px ;" class="text-center bg-primary" >LOGIN</button>
            <p class="message" style="margin-top:5px;">Not registered? <a href="{% url 'register' %}" class="text-white">Create an account</a></p> {% endcomment %}
        </form>
    </div>
</div>
{% endblock content %}