{% extends 'enroll/basice.html' %}
{% load static %}
{% block content %}
<div style="display:flex;" class="text-center mt-3">
    <h1 style="margin-left:30px;">RITIK LOAN SERVICE</h1>
    <img src="{% static 'enroll/img/ritikphoto.jpg' %}"  style="width:100px; height:100px; margin-left:50%;"alt="ritik">
</div>
<hr>
<h1 style="background-color:pink;" class="mt-3 text-center">PROFILE_PAGE</h1>
<div style="margin-left:90%;"class="text-yellow bg-danger">
<h9>WEL_COME {{user.username}}</h9>
</div>
{% endblock content %}